.content-bg {
 background-color: var(--el-color-white);
}
.dark .content-bg {
 color: var(--el-color-white);
 background-color: var(--el-bg-color);
}
.card-gary-bg {
 background-color: #F4F6F7;
}
.dark .card-gary-bg {
 background-color: var(--el-bg-color);
}
